@media screen and (max-width:576px) {
    header nav{
        flex-direction: column;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        /* max-width: 576px; */
    }
    nav ,.banner-container{
        max-width: fit-content;
        padding: 0;
    }
    header nav a{
        margin: 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        margin: 0 auto;
        width: auto;

    }
    .web-sites{
       padding: 10px;
       text-align: center;
    }
    .web-sites a{
       margin: 10px;
    }
}